.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.dashboard-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add-button {
  background-color: #009688;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.category-select {
  padding: 5px;
}

.search-input {
  padding: 5px;
  width: 200px;
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category h2 {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  text-align: left;
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.custom-button {
  position: relative;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  min-height: 250px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-button img {
  max-width: 100%;
  max-height: 220px;
  margin-bottom: 5px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ff4f4f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  margin: auto;
}
.overlay-content h2 {
  margin-top: 0;
}

.overlay-content input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.overlay-content add-button {
  width: 100%;
  padding: 10px;
  background-color: #009688;
  color: white;
  border: none;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 0px;
  background: none;
  border: 5px;
  border-color: #ff4f4f;
  font-size: 20px;
  cursor: pointer;
  width: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 1%;
  width: 30%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 1s ease-in-out;
}

.close-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #666;
  transition: color 0.2s ease;
}

.close-overlay:hover {
  color: #333;
}

.add-button {
  background-color: #009688;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.dashboard-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.add-button-overlay {
  background-color: #009688;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 10px;
  margin-left: 90px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}
